@import '@/styles/overrides.sass';

$primary: purple;
$success: #03B898;

// Button
$btn-letter-spacing: 0;
$btn-font-weight: 700;
$btn-text-transform:  none;
$btn-active-opacity: 0.9;

// Text field
$text-field-details-margin-bottom: 0px;