<template>
  <v-container>
    <v-row>
      <v-col cols="12" class="py-0">
        <v-breadcrumbs :items="items" class="px-0"></v-breadcrumbs>
      </v-col>
      <v-col cols="8" class="py-0">
        <v-data-table
          :headers="headers"
          :items="data"
          sort-by="name"
          class="elevation-1"
          :loading="loading"
          loading-text="Loading..."
        >
          <template v-slot:top>
            <v-toolbar flat color="white">
              <v-toolbar-title>Categories</v-toolbar-title>
              <v-divider class="mx-4" inset vertical></v-divider>
              <v-spacer></v-spacer>
              <v-dialog v-model="dialog" max-width="500px">
                <template v-slot:activator="{ on }">
                  <v-btn color="primary" dark class="mb-2" v-on="on">New Item</v-btn>
                </template>
                <v-card>
                  <v-card-title>
                    <span class="headline">{{ formTitle }}</span>
                  </v-card-title>

                  <v-card-text>
                    <v-container>
                      <v-row>
                        <v-col cols="12">
                          <v-text-field v-model="editedItem.name" label="Category name"></v-text-field>
                          <v-text-field v-model="editedItem.nameTH" label="ชื่อหมวดหมู่"></v-text-field>
                          <v-text-field v-model="editedItem.icon" hint="Example: fal fa-user" label="Icon"></v-text-field>
                        </v-col>
                      </v-row>
                    </v-container>
                  </v-card-text>

                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" text @click="close">Cancel</v-btn>
                    <v-btn color="blue darken-1" text @click="save">Save</v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </v-toolbar>
          </template>
          <template v-slot:item.icon="{ item }">
            <v-icon>{{ item.icon }}</v-icon>
          </template>
          <template v-slot:item.action="{ item }">
            <v-icon small class="mr-2" @click="editItem(item)">fal fa-edit</v-icon>
            <v-icon small @click="deleteItem(item)">fal fa-trash-alt</v-icon>
          </template>
          <template v-slot:no-data>
            <v-btn color="primary" @click="getCategories">Reset</v-btn>
          </template>
        </v-data-table>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { api } from "@/config/api";

export default {
  data() {
    return {
      data: null,
      dialog: false,
      headers: [
        {
          text: "Name",
          align: "left",
          value: "name"
        },
        {
          text: "NameTH",
          align: "left",
          value: "nameTH"
        },
        {
          text: "Icon",
          align: "left",
          value: "icon"
        },
        { text: "# of subcategories", value: "subcategories.length" },
        { text: "Actions", value: "action", sortable: false }
      ],
      loading: true,
      data: [],
      editedIndex: -1,
      editedItem: {
        name: "",
        calories: 0,
        fat: 0,
        carbs: 0,
        protein: 0
      },
      defaultItem: {
        name: "",
        calories: 0,
        fat: 0,
        carbs: 0,
        protein: 0
      },
      items: [
        {
          text: "Home",
          disabled: false,
          to: "/"
        },
        {
          text: "Categories",
          disabled: false
        }
      ]
    };
  },
  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "New Item" : "Edit Item";
    }
  },
  created() {
    this.getCategories();
  },
  watch: {
    dialog(val) {
      val || this.close();
    }
  },

  methods: {
    getCategories() {
      api.getAllCategories().then(response => {
        this.data = response.data;
        this.loading = false;
      });
    },

    editItem(item) {
      this.$router.push({
        name: "category-id",
        params: {
          id: item.id
        }
      });
    },

    deleteItem(item) {
      const index = this.data.indexOf(item);
      confirm("Are you sure you want to delete this item?") &&
        this.data.splice(index, 1);
    },

    close() {
      this.dialog = false;
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    },

    save() {
      if (this.editedIndex > -1) {
        Object.assign(this.data[this.editedIndex], this.editedItem);
      } else {
        this.data.push(this.editedItem);
      }
      this.close();
    }
  }
};
</script>