<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <h2 class="grey--text text--darken-1">Site Administration</h2>
      </v-col>
      <v-col cols="8">
        <h3 class="primary white--text pa-3">CATEGORIES AND SUBCATEGORIES</h3>
        <v-simple-table>
          <tbody>
            <tr>
              <td width="80%" class="text-capitalize">Categories</td>
              <td>
                <v-btn text :to="{name: 'categories'}">
                  <v-icon x-small class="mr-2" color="success">fal fa-plus</v-icon>Add
                </v-btn>
              </td>
              <td>
                <v-btn text>
                  <v-icon x-small class="mr-2" color="warning">fal fa-pen</v-icon>Change
                </v-btn>
              </td>
            </tr>
          </tbody>
        </v-simple-table>
      </v-col>

      <v-col cols="8">
        <h3 class="primary white--text pa-3">COLLECTIONS</h3>
        <v-simple-table>
          <tbody>
            <tr v-for="(item, index) in categoryAndSubcategory" :key="index">
              <td width="80%" class="text-capitalize">{{item.name}}</td>
              <td>
                <v-btn text :to="{name: item.name}">
                  <v-icon x-small class="mr-2" color="success">fal fa-plus</v-icon>Add
                </v-btn>
              </td>
              <td>
                <v-btn text>
                  <v-icon x-small class="mr-2" color="warning">fal fa-pen</v-icon>Change
                </v-btn>
              </td>
            </tr>
          </tbody>
        </v-simple-table>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      categoryAndSubcategory: [
        {
          name: "categories"
        },{
          name: "subcategories"
        }
      ]
    };
  }
};
</script>
