<template>
  <nav>
    <v-app-bar app dense flat dark color="primary">
      <v-toolbar-title>
        <router-link to="/" tag="h2">{{title}}</router-link>
      </v-toolbar-title>

      <v-spacer></v-spacer>

      <template v-if="!loggedIn">
        <v-btn text :to="{name: 'login'}">Login</v-btn>
        <v-btn text :to="{name: 'register'}">Register</v-btn>
      </template>

      <template v-if="loggedIn">
        <v-btn text to="#">{{user.name}}</v-btn>
        <v-btn text @click="onLogout">Logout</v-btn>
      </template>
    </v-app-bar>
  </nav>
</template>

<script>
import { api } from "../config/api";

export default {
  data() {
    return {
      title: process.env.APP_NAME
    };
  },
  computed: {
    user() {
      return this.$store.getters.user;
    },
    loggedIn() {
      return this.$store.getters.loggedIn;
    }
  },
  methods: {
    onLogout() {
      api
        .logout({ code: this.user.code }, this.$store.getters.token)
        .then(response => {
          if (response.status != 200) {
            console.log("log out error");
            return;
          }
          localStorage.removeItem("user");
          localStorage.removeItem("token");

          this.$store.dispatch("clearAuth");
          this.$router.push("/");
        })
        .catch(error => {
          console.log(error);
        });
    }
  }
};
</script>