<template>
  <v-row justify="center">
    <v-col cols="12" sm="10" md="6" lg="4">
      <h1 class="text-center mb-5">{{title}}</h1>
      <form @submit.prevent="onSubmit">
        <v-card ref="form">
          <v-card-title primary-title>Register</v-card-title>
          <v-card-text>
            <v-text-field
              ref="name"
              name="name"
              id="name"
              v-model="data.name"
              :rules="[() => !!data.name || 'This field is required']"
              label="Name"
              placeholder="Your name"
              outlined
              required
              dense
            ></v-text-field>
            <v-text-field
              ref="email"
              name="email"
              id="email"
              v-model="data.email"
              :rules="[() => !!data.email || 'This field is required']"
              label="Email"
              placeholder="Your email"
              type="email"
              outlined
              required
              dense
            ></v-text-field>
            <v-text-field
              name="password"
              id="password"
              v-model="data.password"
              :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
              :rules="[rules.required, rules.min]"
              :type="show1 ? 'text' : 'password'"
              label="Password"
              hint="At least 6 characters"
              placeholder="Your password"
              outlined
              dense
              @click:append="show1 = !show1"
            ></v-text-field>
          </v-card-text>
          <v-divider class="mt-5"></v-divider>
          <v-card-actions>
            <v-btn text to="/">Cancel</v-btn>
            <v-spacer></v-spacer>
            <v-btn type="submit" color="primary" text>Submit</v-btn>
          </v-card-actions>
        </v-card>
      </form>
    </v-col>
  </v-row>
</template>

<script>
export default {
  props: ["data", "onSubmit"],
  data() {
    return {
      title: process.env.APP_NAME,
      show1: false,
      rules: {
        required: value => !!value || "Required.",
        min: v => v.length >= 6 || "Min 6 characters",
        emailMatch: () => "The email and password you entered don't match"
      }
    };
  }
};
</script>